// app global css in SCSS form
.bg-paginas{
    //background: linear-gradient(to bottom, #ada996, #f2f2f2); 
    background: #DBDBDB;
    margin-bottom: 50px;
}
  .colorFreCar{
    color: #d33d66;
  }
  .colorAltura{
    color: #ffc734;
  }
  .colorPeso{
    color: #fffc45;
  }
  .colorIMC{
    color: #ff9342; 
  }
  .colorAzucar{
    color: #f86356;
  }
  .colorPreArte{
    color: #1b1b5c;
  }
  .colorTempe{
    color: #9f276f;
  }
  .colorOxigeno{
    color: #63206c;
  }


